button[type=submit] {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 1px 25px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Baloo Da 2", sans-serif;
  }
  
  button[type=submit]:hover {
    background-color: #0e8113;
  }

  button[type=submit1] {
    width: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 1px 30px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Baloo Da 2", sans-serif;
  }