input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Baloo Da 2", sans-serif;
  }  
 
  
  .card-header{
    font-size: 20px;
    font-weight: bold;
    font-family: "Baloo Da 2", sans-serif;
    text-align: center;
    background: rgb(21,47,79);
    background: linear-gradient(90deg, rgba(21,47,79,1) 0%, rgba(84,98,197,1) 70%, rgba(192,229,248,1) 100%);
    color: #fff;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Baloo Da 2", sans-serif;
  }
  
   div{ 
    background-color: #fff; 
    border-radius: 8px; 
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    position: relative;
    transition: 0.15s ease-in;
   }
    
  div {
    margin-bottom: 10px;
    margin-top: 10px;
  } 

  p {
    font-size: 18px;
  }
